/* form style */
.form-contats {
    padding: 10px 200px 10px 200px;
}
.form-contats textarea {
    height: 132px;
}

.jumbotron {
    background: url(./images/bg.jpg);
    background-size: cover;
    min-height: 600px;
    padding-top: 10px;
}

.navbar-brand {
    background: url(./images/brand.png) no-repeat;
    width: 180px;
    height: 140px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #aaa;
}

.navbar-default .navbar-collapse {
    padding-top: 4px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.welcome {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(256, 256, 256, 0.75);
    padding: 150px;
    text-align: center;
}

@media (max-width: 750px) {
    .navbar-default .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: transparent;
    }

    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-align: center;   
    }

